<div class="container py-5">
    <h5>Leave your valuable  comment</h5>
	<form method="POST" action="">
		{% csrf_token %}
		<p class="form-p">
			{{form.title.label}}&nbsp;:
			</p>
			{% for error in form.title.errors %}
			<p style="color: red">{{ error }}</p>
			{% endfor %}
			
			{{form.title}}
			{% if form.title.help_text %}
				<br> <small style="color: grey">{{ form.title.help_text }}</small>
			{% endif %}

			<p class="form-p">
				{{form.comment.label}}&nbsp;:
				</p>
				{% for error in form.comment.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				<div class="textbox">
				 {{form.comment}}
				</div>
				{% if form.comment.help_text %}
					<br> <small style="color: grey">{{ form.comment.help_text }}</small>
				{% endif %}

		                  
		<button class="btn btn-primary" type="submit">Submit</button>
		
	</form>
</div>